@model mr_bahaa.viewmodel.studentquestionviewmodel

@{
    ViewBag.Title = "reply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mb-4">
    <div class="row justify-content-centery">
        <div class="col-sm-12 col-md-12 col-lg-8 mx-auto  ">
            <div class="card  my-5 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="text-center col-md-12 pt-5">
                    <h4>student's question</h4>



                    @using (Html.BeginForm("reply", "studentquestions", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                       
                    <div class="form-horizontal">


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                        <p class="center" style="font-size:40px ;margin:auto">
                            @{
                                       @Html.DisplayFor(model=>model.student.studentname)
                                       @Html.DisplayFor(model=>model.course.day)
                                try
                                {
                                    if (Model.studnetquestionphoto.type.Contains("image"))
                                    {
                                    <p class=" center" style="font-size:40px ;margin:auto">
                                        <img src="@Html.DisplayFor(modelItem => Model.studnetquestionphoto.imgurl)" width="50%" height="200px" />


                                    </p>

                                }
                                else if (Model.studnetquestionphoto.type.Contains("video"))
                                {
                                    <p class=" center" style="font-size:40px ;margin:auto">
                                        <video style="width:50%" ; height:200px" controls>
                                            <source src="@Html.DisplayFor(model=>model.studnetquestionphoto.imgurl)" type="video/mp4">
                                            <source src="@Html.DisplayFor(model=>model.studnetquestionphoto.imgurl)" type="video/ogg">
                                            Your browser does not support the video tag.
                                        </video>


                                    </p>
                                }
                                else if (Model.studnetquestionphoto.type.Contains("audio"))
                                {
                                    <p class=" center" style="font-size:40px ;margin:auto">
                                        <audio controls>
                                            <source src="@Html.DisplayFor(model=>model.studnetquestionphoto.imgurl)" type="audio/ogg" width="50%" height="200px">
                                            Your browser does not support the audio element.
                                        </audio>

                                    </p>
                                }
                            }
                            catch (Exception)
                            {


                            }


                            }
                            <div>
                                Question :  @Html.DisplayFor(model => model.studentquestions.studentquestion, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <hr />
                            </p>

                            <p> </p><p> </p>




                            <div class="form-group">
                                Teacher Replay
                                <div>
                                    <textarea class="form-control" name="reply" required></textarea>

                                    @Html.ValidationMessageFor(model => model.studentquestions.teacherreplay, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group" control-label col-md-2"">

                                <div class="checkbox">

                                    <label for="sec" class=" control-label" style="font-size:15px; font-weight: bold">Put a picture or video or  Audio</label>
                                    <div>
                                        <input type="file" name="files" id="files" multiple style="width: 100%;" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btnCreate" />
                                </div>
                            </div>
                        </div>
                    }

                    <div class="pr-5">
                        @Html.ActionLink("Back to List", "Index",null,htmlAttributes:new { @class = "btn btnBackTolist" })
                    </div>
                    </div>
</div>
</div>
</div>
</div>
