@model mr_bahaa.Models.studentip

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>studentip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lecture.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lecture.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ipaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ipaddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.studentipid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
