@model mr_bahaa.viewmodel.questionviewmodel

@{
    /**/

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto  ">
            <div class="card  my-5 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="text-center col-md-12 pt-5">
                    <h3>Exam :    @Html.DisplayFor(model => model.exam.name) @Html.DisplayFor(model => model.exam.Date) </h3>
                    <p id="demo"> @Model.mass</p>
                </div>

                <div class="p-5">
                   
                    <h2>Questions</h2>


                    <div class="justify-content-center card-body table-responsive">


                        <table id="myTable" class="table table-bordered  " style="width:100%">
                            <thead class="thead-dark">
                                <tr class="cell-breakAll" style="font-size:16px">
                                    <th>
                                        Questions Name
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.questions)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.question.question)
                                    </td>

                                   

                                    <td>
                                        @Html.ActionLink("الاجابه", "answar", "questions", new { questionid = item.question.questionid }, new { @class = "btn info" })

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-center col-md-12 pt-5 pb-2">
                </div>
            </div>
            </div>
        </div>
    </div>

            <script>


                        </script>

