@model mr_bahaa.viewmodel.homeviewmodel

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Content/img/qwertty.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">المهندس لماده الفيزياء</h1>
                            <p class="fs-5 text-white mb-4 pb-2">اشترك الان مع المهندس واضمن تفوقك في ماده الفيزياء </p>
                            <a href="~/home/index" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">تعرف كيف تستخدم المنصه </a>
                            @{
                                if (Request.IsAuthenticated)
                                {

                                }
                                else
                                {
                                    <a href="~/Account/register/" class="btn btn-light py-md-3 px-md-5 animated slideInRight" style="color:black">سجل كطالب جديد</a>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Carousel End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">كن من اوائل الطلاب </h5>
                        <p>اضمن تفوقك مكانك في كليات القمه مع المهندس</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">محاضرات مسجله</h5>
                        <p>محاضرات مسجله بواسطه سبورة ذكيه واعلي المكانيات لضمان وصول المعلومه للطالب</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">محضرات مباشره (Live)</h5>
                        <p>يتم بث مباشر من الطلاب اسبوعيا للرد علي جميع اسئله اطلاب</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">دعم فني </h5>
                        <p>دعم فني لتلقي استفسارات الطلاب علي مدار الاسبوع </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/Content/img/about.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">كيف تستخدم المنصه؟</h1>
                <p class="mb-4">يوجد اسفل هنا مجموعه من الفيديوهات الي تساعد الطالب علي فهم كيف يستخدم المنصه .</p>
                <p class="mb-4">Below here is a set of videos that help the student understand how to use the platform</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <a class="mb-0" href="~/home/how/1"><i class="fa fa-arrow-right text-primary me-2"></i>كيف تسجل علي المنصه؟ </a>

                    </div>
                    <div class="col-sm-6">
                        <a class="mb-0" href="~/home/how/2"><i class="fa fa-arrow-right text-primary me-2"></i>كيف تشترك في كورس علي المنصه؟ </a>

                    </div>
                    <div class="col-sm-6">
                        <a class="mb-0" href="~/home/how/3"><i class="fa fa-arrow-right text-primary me-2"></i>ازاي تدخل علي الحصته بتاعتك؟ </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="mb-0" href="~/home/how/4"><i class="fa fa-arrow-right text-primary me-2"></i>ازاي تسال المدرس علي المنصه سؤالك؟ </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="mb-0" href="~/home/how/5"><i class="fa fa-arrow-right text-primary me-2"></i>ازاي تعرف درجات امتحاناتك؟ </a>
                    </div>
                    <div class="col-sm-6">
                        <a class="mb-0" href="~/home/how/6"><i class="fa fa-arrow-right text-primary me-2"></i>ازاي تسلم الواجب علي المنصه؟ </a>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">لو استمرت لديك مشكله اتصل بالدعم</a>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Categories Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">الاقسام </h6>
            <h1 class="mb-5">Courses Categories</h1>
        </div>
        <div class="row g-3">
            
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="~/coursescategories/Details/1">
                            <img class="img-fluid" src="~/Content/img/pexels-jeshootscom-714699.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">الصف الثالث الثانوي</h5>
                                <small class="text-primary"></small>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="~/coursescategories/Details/2">
                            <img class="img-fluid" src="~/Content/img/pexels-pixabay-60582.jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0"></h5>
                                <small class="text-primary"> الصف الثاني الثانوي</small>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="~/coursescategories/Details/3">
                            <img class="img-fluid" src="~/Content/img/pexels-yan-krukov-8617634(1).jpg" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0"></h5>
                                <small class="text-primary"> الصف الاول الثانوي</small>
                            </div>
                        </a>
                    </div>
                </div>
            
           
        </div>
    </div>
</div>

<!-- Categories Start -->
<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
            <h1 class="mb-5">Popular Courses</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @{
                foreach (var item in Model.courses)
                {


                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="course-item bg-light">
                            <div class="position-relative overflow-hidden">
                                <a href="~/subjectcoures/details/@item.subjectcoure.subjectcourseid"> <img class="img-fluid" src="@item.img.photoulr" alt="" style="width:100%; height:250px;"></a>
                                <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    @{

                                    }
                                    <button class="flex-shrink-0 btn btn-sm btn-primary px-3 back" style="border-radius: 0 30px 30px 0;">@Html.ActionLink("انضم الان ", "join", "Joins", new { courseid = item.subjectcoure.subjectcourseid }, null)</button>
                                </div>
                            </div>
                            <div class="text-center p-4 pb-0">
                                <h3 class="mb-0"></h3>
                                <div class="mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small>(123)</small>
                                </div>
                                <h5 class="mb-4">@item.subjectcoure.name</h5>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>@item.subjectcoure.teacher.name</small>
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i></small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i></small>
                            </div>
                        </div>
                    </div>

                                        }

            }
        </div>
    </div>
</div>
<!-- Courses End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
            <h1 class="mb-5">Expert Instructors</h1>
        </div>
        <div class="row g-4">
            @{
                foreach (var item in Model.teachers)
                {


                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item bg-light">
                            <div class="overflow-hidden">
                                <a href="~/teachers/details/@item.teacher.teacherid"> <img class="img-fluid" src="@item.img.photoulr" alt=""></a>

                            </div>
                            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0">@item.teacher.name</h5>
                                <small>@item.teacher.subject</small>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<!-- Testimonial End -->
<!-- Footer Start -->
<!-- Footer End -->