@model mr_bahaa.viewmodel.locksviewmodel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container pt-5">
    <div class="row">
        <div class="col-md-3 well">
            <div class="card shadow p-3 mb-2 bg-gray rounded">

                <h5 class="pt-3 text-center"> @Html.DisplayFor(model => model.Student.studentname)</h5>

                <hr />
                <p>
                    <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                    Overview
                </p>
                <p>
                    <i class="fa fa-university fa-fw" aria-hidden="true"></i>
                    @Html.DisplayFor(model => model.Student.school)
                </p>
                <p><i class="fa fa-phone-square fa-fw" aria-hidden="true"></i>  @Html.DisplayFor(model => model.Student.PhoneNumber)</p>
                <p><i class="fa fa-phone-square fa-fw" aria-hidden="true"></i>  @Html.DisplayFor(model => model.Student.secPhoneNumber)</p>


            </div>

        </div>

        <div class="col-md-6">









            <h4 class="pb-3 pt-2 card-header text-center"> Student Courses  </h4>
            <div class="card shadow p-3 mb-4 bg-white rounded">
                <div class="panel panel-default text-left">


                    <div class="panel-body  table-responsive">

                        <table class="table table-bordered  " style="width:100%">

                            <thead class="thead-dark ">
                                <tr class="cell-breakAll" style="font-size:16px">

                                   
                                    <th>
                                        @Html.Label("lecture")
                                    </th>
                                    <th>
                                        @Html.Label("date")
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.locks)
                                {
                                    <tr class="cell-breakAll">

                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.lecture.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.entered)
                                        </td>
                                        <td>
                                            @Html.ActionLink("edit", "edit", "lecturelocks", new { id = item.lecturelockid }, new { @class = "btn info" })


                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>


            </div>











        </div>


    </div>
</div>

