@model mr_bahaa.viewmodel.qviewmodel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-8 mx-auto  ">
            <div class="card  my-5 shadow-lg p-3 mb-5 bg-white rounded">
                <div class="text-center col-md-12 pt-5">

                    <hr />



                    <div >

                        <img src="@Html.DisplayFor(modelItem =>Model.img.imgurl)" alt=" " width="100%" height="300px" />
                        <div class="con mt-3">
                            Question :   @Html.DisplayFor(model => model.questions.question)


                        </div>
                    </div>
                    <dl class="dl-horizontal mt-2">


                        <dt class="con mt-4">
                            @Html.Label("a:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.questions.first)
                        </dd>
                        <dt class="con mt-4">
                            @Html.Label("b:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.questions.sec)
                        </dd>
                        <dt class="con mt-4">
                            @Html.Label("c:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.questions.third)
                        </dd>
                        <dt class="con mt-4">
                            @Html.Label("d:")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.questions.fourth)
                        </dd>

                        <dt class="con mt-4">
                            @Html.Label("Correct Answar is:")
                        </dt>

                        <dd >
                            @Html.DisplayFor(model => model.questions.correct)
                        </dd>
                        <dt class="con mt-4">
                            @Html.DisplayNameFor(model => model.questions.Explanation)
                        </dt>

                        <dd >
                            @Html.DisplayFor(model => model.questions.Explanation)
                        </dd>




                    </dl>
                </div>
                    <p class="text-center">
                    </p>
                </div>
</div>
</div>
</div>
