@model mr_bahaa.viewmodel.lectureviewmodel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://cdn.plyr.io/3.6.3/plyr.polyfilled.js"></script>
    <script src="https://cdn.plyr.io/3.6.3/plyr.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/CDNSFree2/Plyr/plyr.css" />
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
</head>
<style>
    :root {
        --plyr-color-main: #404ee4;
        --plyr-video-control-color: #fff;
    }

    .plyr {
        padding: 50px 0px;
        margin: 40px 0px;
        border: none;
        outline: none;
        border-radius: 10px;
        box-shadow: 0 10px 12px rgba(0, 0, 0, 0.6);
        position: relative;
    }

        .plyr::before {
            content: "Welcome to our Coding course";
            color: #fff;
            position: absolute;
            top: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            margin-top: 5px;
        }

    @*body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    #container {
        width: 95vw;
    }

    *@
</style>
<div class="container pt-5">
    <div class="row   testtest">
        <div class="col-md-4">
            <div class="card shadow p-3 mb-2 bg-white rounded" style="justify-content:center">
                <div>
                    <h5 class="pt-3 text-center">Lecture : @Html.DisplayFor(model => model.lecture.name)</h5>
                </div>
                <h5 class="pt-3 text-center"> Lecture's Date : @Html.DisplayFor(model => model.lecture.date)</h5>
            </div>
        </div>
        <div class="col-md-8">
            <h3 class="card-header text-center">
                Explanation
            </h3>

            <h4>الرجاء من الطلاب حضور البث المباشر يوم السبت الساعه الحادي عشر وعدم التاخير مطلقا</h4>
            <div class="card shadow p-3 mb-4 bg-white rounded">
                <div class="panel panel-default text-left">
                    <div class="panel-body" style="width:100%">
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            @{
                int count = 0; int xc = 0;
            }
            <div id="demo" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    @{
                        int i = 0;
                    }
                    @foreach (var x in Model.img)
                    {


                        i++;
                        var active = i == 1 ? "active" : "";
                        <div class="carousel-item @active">
                            <img src="@Html.DisplayFor(modelItem => x.photoUrl)" alt="" class=" myImg" style="width:100%"
                                 height="400px" id=@xc onClick="call(@xc)">
                        </div>

                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                        xc++;
                    }
                </div>
                <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div>
                @{

                    string video2 = " ";
                    string video3 = " ";
                    string video4 = " ";
                    string video5 = " ";
                    string video6 = " ";

                    var video1 = ((Model.iframe)[0]);
                    <script type="text/javascript"> var JavascriptBlah = '@video1'</script>
                    try
                    {
                        video2 = ((Model.iframe)[1]);
                        <script type="text/javascript"> var JavascriptBlahh = '@video2'</script>

                    }
                    catch (Exception)
                    {

                        video2 = " ";
                        ;
                        <script>
                            let   array = [JavascriptBlah];

                        </script>
                    }
                    try
                    {
                        video3 = ((Model.iframe)[2]);
                        <script type="text/javascript"> var JavascriptBlahhh = '@video3'</script>

                    }
                    catch (Exception)
                    {

                        video3 = " ";
                        ;
                        <script>
                            array = [JavascriptBlah, JavascriptBlahh];

                        </script>
                    }
                    try
                    {
                        video4 = ((Model.iframe)[3]);
                        <script type="text/javascript"> var JavascriptBlahhhh = '@video4'</script>

                    }
                    catch (Exception)
                    {

                        video4 = " ";
                        ;
                        <script>
                            array = [JavascriptBlah, JavascriptBlahh, JavascriptBlahhh ];

                        </script>
                    }
                    try
                    {
                        video5 = ((Model.iframe)[4]);
                        <script type="text/javascript"> var JavascriptBlahhhhh = '@video5'</script>

                    }
                    catch (Exception)
                    {

                        video5 = " ";
                        ;
                        <script>
                             array = [JavascriptBlah, JavascriptBlahh, JavascriptBlahhh, JavascriptBlahhhh];

                        </script>
                    }
                    try
                    {
                        video6 = ((Model.iframe)[5]);
                        <script type="text/javascript"> var JavascriptBlahhhhhh = '@video6'</script>

                    }
                    catch (Exception)
                    {

                        video6 = null;
                        ;
                        <script>
                             array = [JavascriptBlah, JavascriptBlahh, JavascriptBlahhh, JavascriptBlahhhh, JavascriptBlahhhhh];

                        </script>
                    }

                }
            </div>
            <!-- where all videos will embedded in... -->
            <div id="videos">
            </div>
            <div>
                @foreach (var x in Model.pdf)
                {

                    <a href="@Html.DisplayFor(modelItem => x.photoUrl)" download="">
                        <img src="~/Images/mrbahaa/pdf.png"
                             width="50px" alt="Alternate Text" />
                    </a>
                }
            </div>
        </div>
    </div>
</div>
@* <script src="path/to/plyr.js"></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.7/plyr.min.js"></script>



<script>
    //  const player = new Plyr('#player');

    // player controls.
    var controls = [
        "play-large", // The large play button in the center
        "rewind", // Rewind by the seek time (default 10 seconds)
        "play", // Play/pause playback
        "fast-forward", // Fast forward by the seek time (default 10 seconds)
        "progress", // The progress bar and scrubber for playback and buffering
        "current-time", // The current time of playback
        "duration", // The full duration of the media
        "mute", // Toggle mute
        "volume", // Volume control
        "settings", // Settings menu
        "pip", // Picture-in-picture (currently Safari only)
        "fullscreen" // Toggle fullscreen
    ];


    // adding to the array
   //let array = [];

   // if (<%=@video1 %> !== "") {
   //     array.push(<%=video1 %>);
   // }else if (<%=@video2 %> !== "") {
   //     array.push(<%=video2 %>);
   // }


    //     }


    // New array structure. + adding the remaining of the link.


   // let array = [JavascriptBlah, JavascriptBlahh, JavascriptBlahhh, JavascriptBlahhhh, JavascriptBlahhhhh, JavascriptBlahhhhhh];


    if (array.length !== 0) {
        // create new video to append it.
        function addSourceToVideo(element, src, type) {
            var source = document.createElement('source');

            source.src = src;
            source.type = type;

            element.appendChild(source);
        }

        for (let i = 0; i < array.length; i++) {
            var video = document.createElement('video');
            video.className = 'vid1';
            var parent = document.getElementById('videos');
            parent.appendChild(video);
            addSourceToVideo(video, "", "video/mp4");


            const player = new Plyr(".vid1", { controls });
            player.source = {
                type: "video",
                sources: [
                    {
                        src: `${array[i]}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1`,
                        // src: "",
                        provider: "youtube"
                    }
                ],
            };
        }
    } else {
        var text = document.createElement('h2');
        var error = document.createTextNode("Error");
        text.appendChild(error);
        var parent = document.getElementById('videos');
        parent.appendChild(text);
    }

    // @* logic to handle inspect *@

    document.addEventListener('contextmenu', event => event.preventDefault());

    document.onkeydown = function (e) {
        // disable F12
        if (e.keyCode == 123) {
            alert("F12 disabled");
            return false;
        }
        if (e.ctrlKey && e.keyCode == 67) {
            alert("ctrl + C disabled");
            return false;
        }
        if (e.ctrlKey && e.keyCode == 85) {
            alert("ctrl + U disabled");
            return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
            alert("ctrl + shift + i disabled");
            return false;
        }
    }

</script>
<script>


    var diiiv = document.getElementsByClassName("card shadow p-3 mb-4 bg-white rounded");
    diiiv.style.display = "none";


    var call = function (elementId) {
        var modal = document.getElementById('myModal');

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById(elementId);
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
    }





    setInterval(document.getElementsByClassName("ytp-chrome-top-buttons")[0].style.display = 'none', 3000);

    setTimeout(() => {
        let yt = document.getElementsByClassName('ytp-chrome-top-buttons')[0];
        console.log(yt);
        yt.setAttribute("style", "display: none!important");
    }, 3000)



    setTimeout(() => {
        let yt = document.getElementsByClassName('ytp-button')[0];
        console.log(yt);
        yt.setAttribute("style", "display: none!important");
    }, 3000)


    3
</script>
</div>
<p>
</p>
